/* CSS Styles */
/* Allgemeine CSS-Settings */

/* Farbdefinitionen */
:root {
    --text-primary: #000000;
    --background-overall: #e9ecef; /* hellgrau */
    --background-primary: #98999A;
    --background-secondary: #98999A;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-primary);
    background: var(--background-overall);


    /* Header */
    header{
        background: var(--background-primary);
        text-align: center;

        nav menu li{
            list-style: none;
            display: inline-block;
            padding: 2%;
            text-align: center;
            a {
                color: #003461;           
                text-decoration: underline;
            }
            a:hover, a:focus {
                color: #004d52;
                text-decoration: none;
            }
        }
    }

    /* Footer */
    footer{
        background: var(--background-secondary);
        text-align: center;

        nav menu li {
            list-style: none;
            display: inline-block;
            padding: 0 2% 0 2%;
            text-align: center;
            a {
                color: #003461;
                text-decoration: underline;
            }
            a:hover, a:focus {
                color: #004d52;
                text-decoration: none;
            }
        }
    }

    /* Hauptlayout */
    /* Grid für Artikel */
    article {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 2rem;
        padding: 1rem;
        border: 1px solid #ccc;
        background: var(--background-secondary);


        /* Linke Spalte: Bild */
        figure {
            margin: 0;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        
        /* Mittlere Spalte: Überschrift */
        h1 {
            margin: 0;
            text-align: center;
        }

        /* Rechte Spalte: Text */
        p {
            margin: 0;
        }
    }



}

/* #################################### */
/* Meadia Querys für responsive Design */
/* ################################### */

/* Media Query für Bildschirme 481px bis 1280px */
@media (min-width: 481px) and (max-width: 1280px) {
  body {
        background-color: rgba(117, 117, 119, 0.5);
    
        article {
            display: grid;
            grid-template-columns: 2fr 1fr;
            img {
                width: 250px;
                height: auto;
            }
            figure {
                margin: 0 auto;
            }
        }
        img {
            width: 300px;
            height: auto;
        }
  }
}



/* Media Query für Bildschirme kleiner oder gleich 480px */
@media (max-width: 480px) {
  body {
        background-color: rgba(117, 117, 119, 0.3);

        article {
            display: grid;
            grid-template-columns: 1fr;
            img {
                width: 150px;
                height: auto;
            }
            figure {
                margin: 0 auto;
            }
        }
        img {
            width: 200px;
            height: auto;
        }
  }
}



/* Layout Classes*/
.welcome-section{
    text-align: center;
}
