<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js" defer></script>
    <title>Berufliches</title>
</head>

<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-target="header"> </header>

    <main>
        <section class="welcome-section">
            <h1>Herzlich Willkommen zu der Rubrik Berufliches</h1>
                <p>Hier findest du Informationen zu meinem Beruf als Fachinformatiker.</p>
                <img src="images/beruf.jpg" alt="Beschreibung des IT-Berufs" width="500" height="300">
        </section>

        <section class="Mainpages">
                <article>
                    <h2>Auszug der Hardskills</h2>
                    <p>Zertifizierungen und Sonstiges</p>
                    <ul>
                        <li>Windows Server und Client Systeme</li>
                        <li>Netzwerkadministration (Cisco)</li>
                        <li>Virtualisierung (VMware, Hyper-V, Proxmox)</li>
                        <li>Firewall (Fortinet, Cisco, Unify)</li>
                    </ul>
                </article>
                <article>
                    <h2>Auszug der Softskills</h2>
                    <p>Persönliche Eigenschaften</p>
                    <ul>
                        <li>Kommunikation</li>
                        <li>Teamarbeit</li>
                        <li>Problemlösung</li>
                        <li>Organisation</li>
                    </ul>
                </article>
                <article>
                    <h2>Auszug bisheriger Projekte</h2>
                    <p>Eigene Umsetzungen und Mitwirkungen</p>
                    <ul>
                        <li>Erneuerung der Netzwerkinfrakstruktur (rund 85 Cisco Switche)</li>
                        <li>Einführung einer  Lösung für Betriebssystem- und Softwarverteilung</li>
                        <li>Einführung und Etablierung eines Helpdesks inkl. ITSM-Software</li>
                        <li>Mitwirkung bei der Implementierung einer neuen ERP-Lösung</li>
                    </ul>
                </article>
        </section>


    </main>


    <footer hx-get="components/footer.html" hx-trigger="load" hx-target="footer"> </footer>

</body>

</html>