<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js" defer></script>
    <title>Ehrenamt</title>
</head>

<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-target="header"> </header>

    <main>
         <section class="welcome-section">
            <h1>Ehrenamt</h1>
            <img src="images/ehrenamt.jpg" alt="Ehrenamt" width="500" height="300">
             <h2>Hier findest du Informationen zu meinem Ehrenamt.</h2>
        </section>

        <section class="Mainpages">
                <article>
                    <h1>Rettungsdienst</h1>
                    <figure>
                        <img src="images/ehrenamt_rtw.jpg" alt="Person vor Rettungstransportwagen" width="500" height="300">
                    </figure>
                    <p>Ich bin ehrenamtlich als Rettungssanitäter im Rettungsdienst beim Bayerischen Roten Kreuz tätig</p>
                </article>
                <article>
                    <h2>Katastrophenschutz</h2>
                    <figure>
                       <img src="images/ehrenamt_fuehrung.jpg" alt="Person bei meinem Ehrenamt" width="500" height="300">
                    </figure>
                    <ul>
                        <li>Im Katastrophenschutz bin ich sowhol als Rettungssanitäter tätig. </li>
                        <li>als auch im Einsatzführungsdienst als Zugführer tätig. </li>
                    </ul>
                </article>
        </section>

    </main>


    <footer hx-get="components/footer.html" hx-trigger="load" hx-target="footer"> </footer>

</body>

</html>