<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js" defer></script>
    <title>Sport</title>
</head>

<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-target="header"> </header>

    <main>
        
    <h1>Impressum</h1>
    <div>
        <p>Angaben gemäß § 5 TMG:</p>
        <p>Fabian Westermeier<br>
        Musterstraße 1<br>
        12345 Musterstadt</p>

        <p>Kontakt:<br>
        Telefon: 09999-9999<br>
                            
        E-Mail: <a href="mailto:administrator@mail.de?subject=eine%20Mailanfrage%20über%20das%20Impressum">administrator@mail.de</a>
    </div>
     
    </main>


    <footer hx-get="components/footer.html" hx-trigger="load" hx-target="footer"> </footer>

</body>

</html>