<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>  -->
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js" defer></script>
    <title>Webseite von Fabian</title>
</head>

<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-target="header"> </header>

    <main>
        <section class="welcome-section">
            <h1>Herzlich Willkommen auf meiner Website</h1>
            <img src="images/person_vor_pc.jpg" alt="Person vor PC" width="500" height="300">
        </section>

        <section class="Mainpages">
            <div class="Mainpages-Text">
                <h2>Hier findest du Informationen zu meinem Leben, meinen Interessen und meiner Umgebung.</h2>
            </div>
                <article>
                    <h1><a href="beruf.html">Beruf</a></h1>
                    <figure>
                        <img src="images/beruf.jpg" alt="Beschreibung des IT-Berufs" width="500" height="300">
                    </figure>
                    <p>Hier findest du Informationen zu meinem Beruf als Fachinformatiker.</p>
                </article>
                <article>
                    <h1><a href="privat.html">Privat</a></h1>
                    <figure>
                        <img src="images/privat.jpg" alt="Beschreibung des Privatlebens" width="500" height="300">
                    </figure>
                    <p>Hier findest du Informationen zu meinem Privatleben.</p>
                </article>
                <article>
                    <h1><a href="ehrenamt.html">Ehrenamt</a></h1>
                    <figure>
                        <img src="images/ehrenamt.jpg" alt="Beschreibung des Ehrenamts" width="500" height="300">
                    </figure>
                    <p>Hier findest du Informationen zu meinem ehrenamtlichen Engagement.</p>
                </article>
                <article>
                    <h1><a href="sport.html">Sport</a></h1>
                    <figure>
                        <img src="images/sport.jpg" alt="Beschreibung des Sporttreibens" width="500" height="300">
                    </figure>
                    <p>Hier findest du Informationen zu meinem sportlichen Engagement.</p>
                </article>
                <article>
                    <h1><a href="zuhause.html">Mein Zuhause</a></h1>
                    <figure>
                        <img src="images/zuhause.jpg" alt="Beschreibung des Zuhauselebens" width="500" height="300">
                    </figure>
                    <p>Hier findest du Informationen zu meinem Leben zu Hause.</p>
                </article>
                <article>
                    <h1><a href="gegend.html">Unsere Gegend</a></h1>
                    <figure>
                        <img src="images/gegend.jpg" alt="Beschreibung der Gegend" width="500" height="300">
                    </figure>
                    <p>Hier findest du Informationen zu meiner Gegend.</p>
                </article>
        </section>

    </main>


    <footer hx-get="components/footer.html" hx-trigger="load" hx-target="footer"> </footer>

</body>

</html>