<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <title>Webseite von Fabian</title>
</head>
<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-target="header"> </header>



    <h1>Willkommen auf meiner Webseite</h1>



    <footer hx-get="components/footer.html" hx-trigger="load" hx-target="footer"> </footer>

</body>
</html>

