<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js" defer></script>
    <title>Sport</title>
</head>

<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-target="header"> </header>

    <main>
         <section class="welcome-section">
            <h1>Sport</h1>
            <img src="images/sport.jpg" alt="Sport" width="500" height="300">
             <h2>Hier findest du Informationen zu den Sportarten, welche ich mehr oder weniger erfolgreich betreibe.</h2>
        </section>

        <section class="grid-sports">
                <article>
                    <h1>Surfen</h1>
                    <figure>
                        <img src="images/sport_surfen.jpg" alt="Person surft auf einer Welle" width="500" height="300">
                    </figure>
                    <p>Ich gehe gerne Surfen</p>
                </article>
                <article>
                    <h1>Radfahren</h1>
                    <figure>
                        <img src="images/sport_radfahren.jpg" alt="Person fährt Fahrrad in der Natur bei Sonnenschein" width="500" height="300">
                    </figure>
                    <p>Ich gehe gerne Radfahren</p>
                </article>
                <article>
                    <h1>Laufen</h1>
                    <figure>
                        <img src="images/sport_laufen.jpg" alt="Person läuft auf einem Sandweg am Waldesrand" width="500" height="300">
                    </figure>
                    <p>Ich gehe gerne Laufen</p>
                </article>
                <article>
                    <h1>Wandern</h1>
                    <figure>
                        <img src="images/sport_wandern.jpg" alt="Person wandert auf einen Gipfel und Zeigt in die Ferne" width="500" height="300">
                    </figure>
                    <p>Ich gehe gerne Wandern</p>
                </article>
                <article>
                    <h1>Skifahren</h1>
                    <figure>
                        <img src="images/sport_skifahren.jpg" alt="Person fährt im Winter auf Ski" width="500" height="300">
                    </figure>
                    <p>Ich gehe gerne Skifahren</p>
                </article>
                <article>
                    <h1>Langlaufen</h1>
                    <figure>
                        <img src="images/sport_langlaufen.jpg" alt="Eine Person Person im Winter beim Langlaufen in mit schneebedeckter Landschaft" width="500" height="300">
                    </figure>
                    <p>Ich gehe gerne Langlaufen</p>
                </article>
        </section>

    </main>


    <footer hx-get="components/footer.html" hx-trigger="load" hx-target="footer"> </footer>

</body>

</html>