<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js" defer></script>
    <title>Mein Zuhause</title>
</head>

<body>

    <header hx-get="components/header.html" hx-trigger="load" hx-target="header"> </header>

    <main>

        <h1>Mein Zuhause</h1>
        <img src="images/zuhause.jpg" alt="Privat" width="500" height="300">
        <p>Hier könnten Informationen über mein Zuhause stehen, wenn die Seite nicht öffentlich wäre.</p>
      
    </main>


    <footer hx-get="components/footer.html" hx-trigger="load" hx-target="footer"> </footer>

</body>

</html>